<!-- Validation failure messages -->
<% if @private_parking.errors.any? %>
  <% @private_parking.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Private Parking #<%= @private_parking.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_private_parking/<%= @private_parking.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for offer_user_id -->
      <div class="form-group">
        <label for="offer_user_id" class="control-label">
          Offer user
        </label>

        <%= select_tag(:offer_user_id, options_from_collection_for_select(User.all, :id, :phone, @private_parking.offer_user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for accept_user_id -->
      <div class="form-group">
        <label for="accept_user_id" class="control-label">
          Accept user
        </label>

        <%= select_tag(:accept_user_id, options_from_collection_for_select(User.all, :id, :phone, @private_parking.accept_user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @private_parking.date %>">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="<%= @private_parking.time %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @private_parking.price %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @private_parking.address %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @private_parking.city %>">
      </div>

      <!-- Label and input for zipcode -->
      <div class="form-group">
        <label for="zipcode" class="control-label">
          Zipcode
        </label>

        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control" value="<%= @private_parking.zipcode %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @private_parking.description %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Private Parking
      </button>
      or
      <a href="/private_parkings/<%= @private_parking.id %>">Cancel</a>
    </form>
  </div>
</div>
